<!-- admin-login.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login Administrativo</title>
    <link rel="stylesheet" href="assets/css/admin-login.css"> <!-- Se necessário -->
</head>
<body>
    <form id="adminLoginForm" action="/admin/login" method="post">
        <h2>Login Administrativo</h2>
        <div class="input-field">
            <label for="adminEmail">E-mail:</label>
            <input type="email" id="adminEmail" name="email" required>
        </div>
        <div class="input-field">
            <label for="adminPassword">Senha:</label>
            <input type="password" id="adminPassword" name="senha" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
