<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="assets/js/user.js"></script>
  <title>PyExpress</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNHjbosI2sw_FV2pGeuYdEJsvI0AwA49A&&callback=initMap"></script>
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
    rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="dashboard-escolar.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Buscar no PyExpress" title="Digite sua busca">
        <button type="submit" title="Buscar"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->
        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">
          <a id="profile-link" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
            data-bs-toggle="dropdown">
            <img id="profile-image" src="assets/img/favicon.png" alt="Profile" class="rounded-circle">
            <span id="usuarioNome" class="d-none d-md-block dropdown-toggle ps-2"></span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 id="usuarioFuncao"></h6>
              <span id="usuarioLotacao"></h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Meu Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Configurações de Conta</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Ajuda</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#" id="logout-link">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Transporte Escolar</li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard-escolar.html">
          <i class="bi bi-speedometer2"></i>
          <span>Painel de Controle</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#zona-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/zona.png" alt="Zoneamento"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          <span>Zoneamento</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="zona-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-zona-form.html">
              <i class="bi bi-house-door"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-zona-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#escolas-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/escolas.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          <span>Escolas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="escolas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-escolas-form.html">
              <i class="bi bi-house-door"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-escolas-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="vizualizar-escolas-map.html">
              <i class="bi bi-eye"></i><span>Vizualizar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#aluno-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/aluno.svg" alt="Censo Escolar"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          <span>Alunos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="aluno-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-aluno-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-alunos-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="importar-aluno-form.html">
              <i class="bi bi-file-earmark-arrow-up"></i><span>Importar Dados</span>
            </a>
          </li>
          <li>
            <a href="visualizar-alunos-map.html">
              <i class="bi bi-eye"></i><span>Vizualizar</span>
            </a>
          </li>
        </ul>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#routs-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/rotas.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          </i><span>Rotas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="routs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-rotas-form.html">
              <i class="bi bi-plus-square"></i><span>Cadastrar Rota</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-rotas-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="desenhar-rotas-map.html">
              <i class="bi bi-pencil"></i><span>Editar Rota</span>
            </a>
          </li>
          <li>
            <a href="atualizar-rotas-geral.html">
              <i class="bi bi-eye"></i><span>Atualizações</span>
            </a>
          </li>
          <li>
            <a href="vizualizar-malha.html">
              <i class="bi bi-map"></i><span>Malha Viária</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#driverbus-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/motoristas.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="driverbus-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-motorista-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-motoristas-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="gerar-relatorio-view.html">
              <i class="bi bi-clipboard2-check"></i><span>Relatórios</span>
            </a>
          </li>
          <li>
            <a href="check-list.html">
              <i class="bi bi-list-check"></i><span>Check List</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/monitor-icone-branco.png" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          </i><span>Monitores</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-monitores-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-monitores-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#fornecedores-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/fornecedores.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          </i><span>Fornecedor</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="fornecedores-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-fornecedores-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-fornecedores-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="vizualizar-fornecedores-map.html">
              <i class="bi bi-eye"></i><span>Vizualizar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#bus-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/frotas.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          </i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="bus-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-onibus-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-onibus-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="vizualizar-onibus-map.html">
              <i class="bi bi-eye"></i><span>Vizualizar</span>
            </a>
          </li>
          <li>
            <a href="solicitar-onibus-services.html">
              <i class="bi bi-file-earmark-text"></i><span>Ordem de Serviço</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-heading">Administrativo</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="dashboard-adm.html">
          <i class="bi bi-speedometer"></i>
          <span>Painel de Controle</span>
        </a>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#car-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-car-front"></i><span>Frota</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="car-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-carro-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-carros-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
          <li>
            <a href="localizar-carros-map.html">
              <i class="bi bi-geo-alt-fill"></i><span>Localizar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#drivercar-nav" data-bs-toggle="collapse" href="#">
          <img src="assets/img/icones/motoristas.svg" alt="Escolas"
            style="width: 20px; height: 20px; margin-right: 5px; color: white;">
          <span>Motoristas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="drivercar-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-motorista-carro-form.html">
              <i class="bi bi-person-plus"></i><span>Cadastrar</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-motorista-carro-form.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tarefas-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-list-check"></i><span>Tarefas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tarefas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-file-earmark-text"></i><span>Nova Tarefa</span>
            </a>
          </li>
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-person-plus"></i><span>Gerenciar Tarefas</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-heading">Controle Financeiro</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#fuel-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-droplet-half"></i><span>Abastecimento</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="fuel-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="cadastrar-abastecimento-view.html">
              <i class="bi bi-file-earmark-text"></i><span>Cadastrar Requisição</span>
            </a>
          </li>
          <li>
            <a href="gerenciar-abastecimento-view.html">
              <i class="bi bi-pencil-square"></i><span>Gerenciar</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Cadastrar Rota <i class="bi bi-building"></i></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashboard-escolar.html"><i class="bi bi-house"></i></a></li>
          <li class="breadcrumb-item">Escolas</li>
          <li class="breadcrumb-item active">Cadastrar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Informações da Rota</h5>
              <div class="container mt-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="dados-basicos-tab" data-bs-toggle="tab"
                      data-bs-target="#tab-dados-basicos" type="button" role="tab" aria-controls="tab-dados-basicos"
                      aria-selected="true">Informações da Rota</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="dados-escola-tab" data-bs-toggle="tab"
                      data-bs-target="#tab-dados-escola" type="button" role="tab" aria-controls="tab-dados-escola"
                      aria-selected="false">Escola de Atendimento</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="dados-alunos-tab" data-bs-toggle="tab"
                      data-bs-target="#tab-dados-alunos" type="button" role="tab" aria-controls="tab-dados-alunos"
                      aria-selected="false">Dados dos Alunos</button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="tab-dados-basicos" role="tabpanel"
                    aria-labelledby="dados-basicos-tab">
                    <!-- Dados Básicos da Rota -->
                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="tipoRota"><b>Tipo da Rota</b> <span class="text-danger">*</span></label>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="tipoRota" id="rodoviaria" value="1">
                              <label class="form-check-label" for="rodoviaria">Rodoviária</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="tipoRota" id="aquaviaria" value="2">
                              <label class="form-check-label" for="aquaviaria">Aquaviária</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="tipoRota" id="mista" value="3">
                              <label class="form-check-label" for="mista">Mista</label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="regnome"><b>Nome da Rota</b> <span class="text-danger">*</span></label>
                            <input type="text" id="regnome" name="regnome" class="form-control"
                              placeholder="Exemplo: Rota Gávea-Tijuca">
                          </div>
                          <div class="form-group">
                            <label for="tipoVeiculo"><b>Veículo</b></label>
                            <select id="tipoVeiculo" name="tipoVeiculo" class="form-control">
                              <option value="-1">Escolher veículo depois</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="tipoMotorista"><b>Motoristas</b></label>
                            <input id="filtroMotoristas" type="text" placeholder="Filtro" class="form-control">
                            <select id="motoristas" class="form-control mt-2" multiple>
                              <!-- Opções de motoristas vão aqui -->
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <!-- Horários de Funcionamento -->
                          <div class="form-group">
                            <label><b>Horário de Funcionamento</b> <span class="text-danger">*</span></label>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temHorarioManha" value="1">
                              <label class="form-check-label" for="temHorarioManha">Manhã</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temHorarioTarde" value="2">
                              <label class="form-check-label" for="temHorarioTarde">Tarde</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temHorarioNoite" value="3">
                              <label class="form-check-label" for="temHorarioNoite">Noite</label>
                            </div>
                          </div>
                          <!-- Dificuldades de Acesso -->
                          <div class="form-group">
                            <label><b>Dificuldades de Acesso</b></label>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temPorteira" value="1">
                              <label class="form-check-label" for="temPorteira">Porteira</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temMataBurro" value="1">
                              <label class="form-check-label" for="temMataBurro">Mata-Burro</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temColchete" value="1">
                              <label class="form-check-label" for="temColchete">Colchete</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temAtoleiro" value="1">
                              <label class="form-check-label" for="temAtoleiro">Atoleiro</label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="temPonte" value="1">
                              <label class="form-check-label" for="temPonte">Ponte Rústica</label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="tipoMonitor"><b>Monitores</b></label>
                            <input id="filtroMonitores" type="text" placeholder="Filtro" class="form-control">
                            <select id="monitores" class="form-control mt-2" multiple>
                              <!-- Opções de monitores vão aqui -->
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab-dados-escola" role="tabpanel" aria-labelledby="dados-escola-tab">
                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row mb-2">
                            <div class="col-md-5">
                              <h5 class="listaSelect">Lista de Escolas</h5>
                              <input id="filtroEscolasNaoAtendidas" type="text" placeholder="Filtro"
                                class="form-control">
                              <select id="escolasNaoAtendidas" multiple class="form-control mt-2">
                                <!-- Opções de escolas não atendidas vão aqui -->
                              </select>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                              <div class="d-flex flex-column">
                                <button id="btn-add-escola" class="btn btn-primary">Adicionar ➡️</button>
                                <button id="btn-remove-escola" class="btn btn-danger mt-2">Remover ⬅️</button>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <h5 class="listaSelect">Escolas Atendidas pela Rota <span id="totalNumEscolas"
                                  class="badge badge-success badge-total">0</span></h5>
                              <input id="filtroEscolasAtendidas" type="text" placeholder="Filtro" class="form-control">
                              <select id="escolasAtendidas" multiple class="form-control mt-2">
                                <!-- Opções de escolas atendidas vão aqui -->
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <small>PARA ASSOCIAR UMA ESCOLA A ESSA ROTA SELECIONE A ESCOLA E CLIQUE NO ÍCONE
                      <strong>➡️</strong></small><br>
                    <small>PARA DESASSOCIAR UMA ESCOLA DESSA ROTA SELECIONE A ESCOLA E CLIQUE NO ÍCONE
                      <strong>⬅️</strong></small>
                  </div>
                  <div class="tab-pane fade" id="tab-dados-alunos" role="tabpanel" aria-labelledby="dados-alunos-tab">
                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row mb-2">
                            <div class="col-md-5">
                              <h5 class="listaSelect">Lista de Alunos</h5>
                              <input id="filtroAlunosNaoAtendidos" type="text" placeholder="Filtro"
                                class="form-control">
                              <select id="alunosNaoAtendidos" multiple class="form-control mt-2">
                                <!-- Opções de alunos não atendidos vão aqui -->
                              </select>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                              <div class="d-flex flex-column">
                                <button id="btn-add-aluno" class="btn btn-primary">Adicionar ➡️</button>
                                <button id="btn-remove-aluno" class="btn btn-danger mt-2">Remover ⬅️</button>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <h5 class="listaSelect">Alunos Atendidos pela Rota <span id="totalNumAlunos"
                                  class="badge badge-success badge-total">0</span></h5>
                              <input id="filtroAlunosAtendidos" type="text" placeholder="Filtro" class="form-control">
                              <select id="alunosAtendidos" multiple class="form-control mt-2">
                                <!-- Opções de alunos atendidos vão aqui -->
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <small>PARA ASSOCIAR UM ALUNO A ESSA ROTA SELECIONE O ALUNO E CLIQUE NO ÍCONE <strong>➡️</strong>
                      </small> <br>
                      <small>PARA DESASSOCIAR UM ALUNO DESSA ROTA SELECIONE O ALUNO E CLIQUE NO ÍCONE
                        <strong>⬅️</strong>
                      </small>
                    </div>

                  </div>
                  <div class="text-center mt-4">
                    <button type="button" class="btn btn-secondary" id="cancelarAcao">Cancelar Edição</button>
                    <button type="button" class="btn btn-secondary" id="btn-back">Voltar</button>
                    <button type="button" class="btn btn-info" id="btn-next">Próximo</button>
                    <button type="button" class="btn btn-info" id="salvarrota">Concluir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- ======= Rodapé ======= -->
  <!-- Footer com botões de controle -->


  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">


        <div class="container mt-4">
          <div class="row">
            <div class="col-md-6">
              <div class="copyright">
                &copy; Direitos Autorais <strong><span>PyExpress</span></strong>. Todos os Direitos Reservados
              </div>
            </div>
            <div class="col-md-6">
              <div class="credits">
                Desenvolvido por <a href="https://danilomorais.netlify.app/">Danilo de Morais</a>
              </div>
            </div>
          </div>
        </div>
  </footer><!-- Fim do Rodapé -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script>
    // Inicializar o Bootstrap Select
    $('.selectpicker').selectpicker();
  </script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/cadastrarRota.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaYisff9EXEEhlBuuVkyvmqXyA8SiL9jU&callback=initMap"></script>



</body>

</html>